<link rel="stylesheet" href="/public/css/styles.css" type="text/css" media="all" />

<%- include('../partials/navbar.ejs') %>
<h2>Secret access</h2>
<h1>Welcome!</h1>
<a href="/logout" id="logout">Logout</a>